
/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 /* common style  */

 body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
 }

 

.flexible-container{
    display: flex;
     background-color: rgb(51, 65, 161);
    
}
.divide-width{
    width: 50%;
    padding:5% ;
}

.divide-width h1{
    font-size: 64px;
    color: #FFFFFF;
}

.divide-width img{
    width: 556.01px;
    height: 438px; 
}


.divide-width .link-button {
    background: #E02C6D;
    text-decoration: none;
    padding: 10px 24px;
    color: white;
}

.button-icon{
    transition: transform 0.6s ease-in-out;
}

.link-button:hover{
    background-color:#e02c6eb2;
}
.link-button:hover .button-icon{
    transform: translateX(10px);
}

.fa-arrow-right{
    margin-left:5px;
}





/* player section style  */


.players{
    margin: 70px 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px 30px;
}

.player{
    width: 300px;
    height:474px ;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.player .player-banner img{
    width: 300px;
    height: 256px;
}
.player-detail h2{
    font-size: 28px;
    color: #18191F;
}
.player-detail p{
    font-size: 16px;
    color: #6C6C6C;
}
.section{
    padding:20px 20px 20px 20px;
    margin: 70px 175px;
    width: 1010px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.section-title{
    color: #2D25A0;    
}


.section-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 26px;
    grid-column-gap: 26px;
   
}

.item{
    display: flex;
    align-items: center;   
    column-gap: 16px; 
}

.item .thumbnail img{
    width: 177px;
    height: 117px;
    border-radius: 5%;
}

.item-name{
    font-size: 24px;
    color: #18191F;
}

.ranking{
    font-size: 16px;
    color: #9F9F9F;
}

.ranking span{
    font-weight: 700;
    color: tomato;
}

/* footer style  */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
 
}
footer  img{
    width: 484px;
    height: 110px;
}
footer  .social-icon {
    margin: auto;
    text-align: center;  
    
}
footer .social-icon .fab{
    width: 32px;
    height: 32px;
    color: #969BAB;
}
footer  p{
    margin: auto;
    text-align: center;  
    font-size: 18px;
    font-weight: 500;
}




/* ----  Mobile Responsvie ----- */
@media only screen and (max-width: 688px) {
   
    /*  Section */
    .flexible-container{
        /* width: auto;  */
        flex-direction: column;
    }

    .divide-width{
        width: auto;       
    } 

    .divide-width h1{
        font-size: 36px;
     
    }

     
    .divide-width img{
        width: 329px;
        height: 259px;
    }
    


    /* players */
   

    .players {
        margin:0;
        margin-top: 47px;
        width: auto;
        padding: 15px;
        grid-template-columns: repeat(1, 1fr);
       
    }

    .section{
        margin: 47px 15px;    
        width: auto;
        border-radius: 5px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    }
    
   
    
    .section-items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 26px;       
       
       
    }

    /* footer */

    footer{
        margin-top: 40px;
    }

    footer img{
        width:271px;
        height: 63px;
        
    }
   
}
/* ----  Mobile Responsvie ----- */
@media only screen and (min-width:689px) and (max-width:992px)
{
   
    .flexible-container{
        /* width: auto;  */
        flex-direction: column;
    }

    .divide-width{
        padding-left: 15px;
        width: auto;       
    } 

    .divide-width h1{
        font-size: 36px;
     
    }

     
    .divide-width img{
        width: 400px;
        height: 300px;
    }
    


    /* players */
   

    .players {
        margin:0;
        margin-top: 47px;
        width: auto;
        padding: 15px;
        grid-template-columns: repeat(2, 1fr);
       
    }

    /* section */

    .section{       
        margin: 47px 15px;    
        width: auto;
        border-radius: 5px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    }
    
   
    /* section */
    .section-items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 26px;       
       
    }

    /* footer */

    footer{
        margin-top: 40px;
    }

    footer img{
        width:271px;
        height: 63px;
        
    }
}
